%p Please identify any people with which this item is associated.

%form
  %dl
    %dt People
    %dd
      %input.autocomplete{autocompleter(formatted_people_path(:format => 'txt')), :type => 'text'}
    %dd.notes Start typing a person's name

    %dt &nbsp;
    %dd.buttons
      %a.positive.put{ :data => {:one => 2}.to_json }
        = icon 'tick'
        All People added
      
      %a.negative.skip
        = icon 'help'
        No people referenced
