%p Please identify any shows with which this item is associated.

- form_for @item do |f|

  = f.error_messages

  %dl
    %dt Shows
    - for show in @item.shows
      %dd= show.name
    %dd
      %input.autocomplete{autocompleter('show'), :type => 'text'}
    %dd.notes Start typing a show's name

    %dt &nbsp;
    %dd.buttons
      %button.positive{ :type => "submit" }
        = icon 'tick'
        All shows added
      
      %button.negative{ :type => "submit" }
        = icon 'help'
        No shows referenced
