%p Please have a look at the item to see if it has a publication date.

%form
  %dl
    %dt Publication date
    %dd
      %input.datepicker{ :type => "text" }
    %dd.notes.datedetail
      %a{ :href => "#" } Can't be so specific?
      %span
        Accurate to:
        %input{ :name => "date[delta]", :type => "radio", :selected => true } Day
        %input{ :name => "date[delta]", :type => "radio" } Month
        %input{ :name => "date[delta]", :type => "radio" } Year
    
    %dt &nbsp;
    %dd.buttons
      %a.positive.put{ :data => "{one:\"two\"}"}
        = icon 'tick'
        OK
      
      %a.negative
        = icon 'help'
        No date on item