@import url("buttons.css")

@import url("tabs.css")

@import url("forms.css")

@import url("jquery/jquery.autocomplete.css")


body
  background: #fff


a
  &:hover, &:active
    color: #800040


#header #title
  font-family: Garamond, serif


#loginbar
  text-align: right

  p
    margin: 0


#header #title
  a
    color: inherit
    text-decoration: none

  h1
    font-size: 4em
    text-shadow: #d4d4d4 2px 3px 2px

    span
      color: #009

    a:hover
      color: #fff
      background: #000

      span
        color: #fff
        background: #800040


#navigation
  background: #eaeaea

  ul
    list-style-type: none
    font-size: 1.3em
    margin: 0
    padding: 0

    li
      float: left
      width: auto
      display: block

      a
        background: #f0f0f0
        text-decoration: none
        padding: 0.4em
        margin: 0 0.6em 0 0
        display: block

        &:link, &:visited
          background: #f0f0f0
          text-decoration: none
          padding: 0.4em
          margin: 0 0.6em 0 0
          display: block

        &:hover, &:active
          background: #fff


#main
  margin: 2em 0 0 0 



#sidebar
  margin: 2em 0 0 0
