/* @override http://localhost:3000/stylesheets/forms.css */

label {
	font-size: 1.1em;
	font-weight: bold;
}

fieldset {
	padding: 1.4em;
	margin: 0 0 1.5em 0;
	border: 1px solid #ccc;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
}

input[type="text"], input.text, input.title, textarea, select {
	margin: 0.5em 0;
	border: 1px solid #bbb;
}

input[type="text"]:focus,   input.text:focus,   input.title:focus,   textarea:focus,   select:focus {
	border-color: #666;
}

input[type="text"].fieldWithErrors,   input.text.fieldWithErrors,   input.title.fieldWithErrors,   textarea.fieldWithErrors,   select.fieldWithErrors {
	border-color: #d12f19;
}

input[type="text"], input.text, input.title {
	width: 30em;
	padding: 0.4em;
}

input.title {
	font-size: 1.5em;
}

input.datepicker {
	background: url(/images/icons/calendar_view_month.png) no-repeat 7.1em 0.2em;
	width: 8em; 
}

textarea {
	width: 39em;
	height: 25em;
	padding: 0.4em;
}

textarea.short {
	height: 5em;
}

/* Layout helper for forms. Use <dt> for labels and <dd> for form fields and */

/* notes. */

form dl {
	width: 100%;
	display: inline-block;
}

form dl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html form dl {
	height: 1px;
}

form dt {
	width: 20%;
	margin: 0.5em 0;
	float: left;
	clear: left;
	text-align: right;
}

form dd {
	float: left;
	width: 79%;
	margin: 0 0 0 1%;
}

form dd img {
	vertical-align: middle;
}

form dd.notes {
	margin-left: 20%;
	padding: 0 0 0.3em 1%;
	clear: left;
	color: #555;
	width: auto;
}

form dd.buttons {
  margin-top: 1em;
	width: 407px;
}

label.fieldWithErrors {
	color: #d12f19;
}

#errorExplanation {
	background: #fff;
	border: 1px solid #d12f19;
	margin-bottom: 1em;
}

#errorExplanation h2 {
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 1em;
	line-height: 2.6;
	background: #d12f19;
	color: #fff;
}

#errorExplanation ul, #errorExplanation p {
	margin: 0.5em 0 1em 1em;
}

#errorExplanation ul {
	margin-left: 2em;
}

.ui-datepicker-prev label, .ui-datepicker-next label {
	display: none; 
}

.datedetail span {
  display: none;
}
